In [1]:
from array import array
import time
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from numpy import random, arange
from scipy.signal import butter, sosfilt, sosfreqz, lfilter
import datetime
import random
from tkinter import *  
from tkinter.ttk import Progressbar  
from tkinter import ttk  
from tkinter import filedialog  
import sqlalchemy
from scipy import interpolate
import sys
import mysql
import mysql.connector
import pickle
import warnings
import xgboost as xgb
import lightgbm as lgbm
import catboost as catb
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
warnings.simplefilter('ignore')
import pathlib
import os

In [2]:
from forces import vagon_1
from forces import vagon_2
from forces import vagon_3
from forces import vagon_4

In [3]:
line = pd.read_excel('dannye.xlsx', sheet_name='line')
trains = pd.read_excel('dannye.xlsx', sheet_name='trains')
pod_sos = pd.read_excel('dannye.xlsx', sheet_name='pod_sos')

In [4]:
line

,km,pk,way,vsp_type,vsp_cnd,rail,tie,fasten,hball_sm,rad_m,direct,h_mm,i_prm,l_m,Shkol_mm
0,1,1,1,1,1,P65,beton,kb,20,10000,strgh,0,5,50,1520
1,1,1,1,1,1,P65,beton,gbr_bp,30,10000,strgh,0,0,50,1525
2,1,2,1,1,1,P75,beton,gbr_pod,40,5000,lft,10,-5,50,1515
3,1,2,1,1,1,P65,beton,ars,25,10000,strgh,0,0,50,1530
4,1,3,1,1,1,P65,beton,pandr,45,10000,strgh,0,0,50,1520
5,1,3,1,1,1,P65,beton,whslo,20,2500,rgt,15,4,50,1520
6,1,4,1,2,2,P65,der,do,30,10000,strgh,0,0,50,1520
7,1,4,1,2,2,P75,der,kd,40,10000,strgh,0,1,50,1520
8,1,5,1,2,2,P65,beton,kb,25,350,lft,100,0,50,1520
9,1,5,1,1,1,P65,beton,gbr_bp,45,10000,strgh,0,0,50,1520
10,1,6,1,1,1,P65,beton,gbr_pod,40,10000,strgh,0,-15,50,1540
11,1,6,1,1,1,P65,beton,ars,25,1500,rgt,40,0,50,1520
12,1,7,1,1,1,P75,beton,pandr,45,10000,strgh,0,20,50,1520
13,1,7,1,1,1,P75,beton,gbr_pod,40,5000,lft,10,-5,50,1515
14,1,8,1,1,1,P65,beton,ars,25,10000,strgh,0,0,50,1530
15,1,8,1,1,1,P65,beton,pandr,45,10000,strgh,0,0,50,1520
16,1,9,1,2,2,P65,der,do,30,10000,strgh,0,0,50,1520
17,1,9,1,2,2,P75,der,kd,40,10000,strgh,0,1,50,1520
18,1,10,1,2,2,P65,beton,kb,25,350,lft,100,0,50,1520
19,1,10,1,1,1,P65,beton,pandr,45,10000,strgh,0,0,50,1520

In [5]:
trains

,mpoezda_min,mpoezda_max,poezd_gamma,meankver_force,meankgor_force,meankprd_force,meankram_force,rmskver_force,rmskgor_force,rmskprd_force,rmskram_force
0,0,5000,0.15,2,2,2,2,2,2,2,2
1,0,5000,0.15,2,2,2,2,2,2,2,2
2,0,5000,0.15,2,2,2,2,2,2,2,2
3,0,5000,0.10,2,2,2,2,2,2,2,2
4,0,5000,0.10,2,2,2,2,2,2,2,2
5,0,5000,0.10,2,2,2,2,2,2,2,2
6,0,5000,0.10,2,2,2,2,2,2,2,2
7,0,5000,0.15,2,2,2,2,2,2,2,2

In [6]:
pod_sos

,vag_type,p_os,gamma,gamma_20,gamma_40,gamma_60,gamma_80,gamma_100,gamma_120,gamma_140,meankver_force,meankgor_force,meankprd_force,meankram_force,rmskver_force,rmskgor_force,rmskprd_force,rmskram_force
0,1,12,0.1,0.00,0.2,0.2,0.2,0.25,0.10,0.05,1,1,1,1,1,1,1,1
1,2,10,0.2,0.05,0.2,0.2,0.2,0.20,0.15,0.00,1,1,1,1,1,1,1,1
2,3,25,0.4,0.20,0.2,0.4,0.2,0.00,0.00,0.00,1,1,1,1,1,1,1,1
3,4,27,0.3,0.20,0.2,0.5,0.1,0.00,0.00,0.00,1,1,1,1,1,1,1,1
4,5,27,0.0,0.20,0.2,0.5,0.1,0.00,0.00,0.00,1,1,1,1,1,1,1,1

In [7]:
input_val = [2, 2, 250, 140, 80, 27.5, 1520, 0.25]
print ()
force = vagon_1 (input_val, 'return')
print (force)

[44.5, 79.1, 61.8, 9.4, 9.9, 9.7, 7.4, 19.3, 13.350000000000001, 3.6, 7.7, 6.0]

In [8]:
input_val = [2, 2, 250, 140, 80, 27.5, 1520, 0.25]
print ()
force = vagon_2 (input_val, 'return')
print (force)

[89.5, 185.4, 137.4, 11.0, 12.0, 11.5, 22.6, 53.7, 38.2, 4.5, 7.6, 6.2]

In [9]:
input_val = [2, 2, 250, 140, 80, 27.5, 1520, 0.25]
print ()
force = vagon_3 (input_val, 'return')
print (force)

[83.1, 135.6, 109.35, 10.5, 11.1, 10.8, 11.8, 32.7, 22.25, 3.4, 11.0, 8.1]

In [10]:
input_val = [2, 2, 250, 140, 80, 27.5, 1520, 0.25]
print ()
force = vagon_4 (input_val, 'return')
print (force)

[85.7, 155.3, 120.5, 15.9, 16.2, 16.1, 12.8, 38.5, 25.65, 4.4, 13.8, 10.2]

In [11]:
print (input_val)

[2, 2, 250, 140, 80, 27.5, 1520, 0.25]

In [12]:
len(line.index)

20

In [13]:
vsp_type	vsp_cstr	vsp_cnd	rad_m	h_mm	i_prm	l_m	Shkol_mm	f_tr
VSP_type = input_val[0] 
    Condition = input_val[1] 
    Radius = input_val[2]
    h = input_val[3]
    V = input_val[4]
    axle_load = input_val[5]
    Sh_Kol = input_val[6] 
    mu_fr = input_val[7] 
    vag_type	p_os	gamma	gamma_20	gamma_40	gamma_60	
    gamma_80	gamma_100	gamma_120	gamma_140	
    meankver_force	meankgor_force	meankprd_force	meankram_force	
    rmskver_force	rmskgor_force	rmskprd_force	rmskram_force

SyntaxError: invalid syntax (<ipython-input-13-2baee07c42d5>, line 1)

In [14]:
# бЛОК вычисления сил для каждого элемента плана с полным учетом вагонопотока на линии
force_line = np.zeros((len(line.index),12))
for index_line in range(len(line.index)):
    #print (index)
    input_val = np.array([0, 0, 0,0,0,0,0,0.00])
    input_val[0]= line['vsp_type'].loc[line['vsp_type'].index == index_line].values
    input_val[1]= line['vsp_cnd'].loc[line['vsp_cnd'].index == index_line].values
    input_val[2]= line['rad_m'].loc[line['rad_m'].index == index_line].values
    input_val[3]= line['h_mm'].loc[line['h_mm'].index == index_line].values
    input_val[6]= line['Shkol_mm'].loc[line['Shkol_mm'].index == index_line].values
    input_val[7]= 0.25 
    force_index = np.array([0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0])
    for index_vagon in range(len(pod_sos.index)):
        gamma = pod_sos['gamma'].loc[pod_sos['gamma'].index == index_vagon].values
        p_os = pod_sos['p_os'].loc[pod_sos['p_os'].index == index_vagon].values
        vag_type = pod_sos['vag_type'].loc[pod_sos['vag_type'].index == index_vagon].values  
        meankver_force = pod_sos['meankver_force'].loc[pod_sos['meankver_force'].index == index_vagon].values  
        meankgor_force = pod_sos['meankgor_force'].loc[pod_sos['meankgor_force'].index == index_vagon].values  
        meankprd_force = pod_sos['meankprd_force'].loc[pod_sos['meankprd_force'].index == index_vagon].values  
        meankram_force = pod_sos['meankram_force'].loc[pod_sos['meankram_force'].index == index_vagon].values  
        rmskver_force = pod_sos['rmskver_force'].loc[pod_sos['rmskver_force'].index == index_vagon].values  
        rmskgor_force = pod_sos['rmskgor_force'].loc[pod_sos['rmskgor_force'].index == index_vagon].values  
        rmskprd_force = pod_sos['rmskprd_force'].loc[pod_sos['rmskprd_force'].index == index_vagon].values  
        rmskram_force = pod_sos['rmskram_force'].loc[pod_sos['rmskram_force'].index == index_vagon].values  
        force_v = np.array([0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0])
        for v in (10,30,50,70,90,110,130):
            gamma_v_name = 'gamma_' + str(10+v)
            gamma_v = pod_sos[gamma_v_name].loc[pod_sos[gamma_v_name].index == index_vagon].values 
            input_val[4] = v
            input_val[5] = p_os
            #print (input_val)
            #print (vag_type, gamma_v)
            if vag_type == 1:
                force = vagon_1 (input_val, 'return')*gamma_v
                for i in [0,1,2]:
                    force[i] = force[i]*meankver_force
                for i in [3,4,5]:
                    force[i] = force[i]*rmskver_force
                for i in [6,7,8]:
                    force[i] = force[i]*meankgor_force
                for i in [9,10,11]:
                    force[i] = force[i]*rmskgor_force
                #print (force)
            elif vag_type == 2:
                force = vagon_2 (input_val, 'return')*gamma_v
                #print (force)
                for i in [0,1,2]:
                    force[i] = force[i]*meankver_force
                for i in [3,4,5]:
                    force[i] = force[i]*rmskver_force
                for i in [6,7,8]:
                    force[i] = force[i]*meankgor_force
                for i in [9,10,11]:
                    force[i] = force[i]*rmskgor_force
            elif vag_type == 3:
                force = vagon_3 (input_val, 'return')*gamma_v
                #print (force)
                for i in [0,1,2]:
                    force[i] = force[i]*meankver_force
                for i in [3,4,5]:
                    force[i] = force[i]*rmskver_force
                for i in [6,7,8]:
                    force[i] = force[i]*meankgor_force
                for i in [9,10,11]:
                    force[i] = force[i]*rmskgor_force
            elif vag_type == 4:
                force = vagon_4 (input_val, 'return')*gamma_v
                #print (force)
                for i in [0,1,2]:
                    force[i] = force[i]*meankver_force
                for i in [3,4,5]:
                    force[i] = force[i]*rmskver_force
                for i in [6,7,8]:
                    force[i] = force[i]*meankgor_force
                for i in [9,10,11]:
                    force[i] = force[i]*rmskgor_force
            #else:
                #print ("Номер типа подвижного состава указан неверно или отстуствует в базе")
            force_v = force_v + force
        force_index = force_index +  force_v*gamma 
    for i in range(0,12):
        force_line[index_line, i] = force_index[i]
print (force_line)

[[ 84.8355   93.382    89.10825  10.351    11.3565   10.897    17.067
   31.0465   24.05325   7.2145    8.5125    7.904  ]
 [ 84.8305   93.3625   89.094    10.338    11.3625   10.89     17.0655
   31.0465   24.0525    7.2145    8.512     7.904  ]
 [ 89.3245   93.727    91.52775   4.4115    4.939     4.695     9.553
   19.1385   14.34775   4.807     4.6245    4.7535 ]
 [ 84.833    93.3575   89.09125  10.368    11.3655   10.909    17.0655
   31.0465   24.0525    7.2155    8.512     7.903  ]
 [ 84.8355   93.382    89.10825  10.351    11.3565   10.897    17.067
   31.0465   24.05325   7.2145    8.5125    7.904  ]
 [112.7925   85.387    99.08425   2.18      2.346     2.2895    6.51
   11.7615    9.13725   5.3065    6.317     5.8725 ]
 [ 84.9      93.8225   89.35975  11.054    12.114    11.6125   17.1495
   31.0105   24.082     7.8245    9.251     8.599  ]
 [ 84.9      93.8225   89.35975  11.054    12.114    11.6125   17.1495
   31.0105   24.082     7.8245    9.251     8.599  ]
 [ 97.3475   93.461    95.40225   7.594     7.6565    7.6465   17.6735
   16.003    16.84025   4.524     6.329     5.6135 ]
 [ 84.8355   93.382    89.10825  10.351    11.3565   10.897    17.067
   31.0465   24.05325   7.2145    8.5125    7.904  ]
 [ 84.8375   93.3365   89.083    10.3835   11.4015   10.92     17.0795
   31.0575   24.063     7.213     8.4995    7.8925 ]
 [113.2805   83.9735   98.626     3.2255    3.2895    3.2885    9.9485
   10.5185   10.2315    3.5095    5.397     4.5965 ]
 [ 84.8355   93.382    89.10825  10.351    11.3565   10.897    17.067
   31.0465   24.05325   7.2145    8.5125    7.904  ]
 [ 89.3245   93.727    91.52775   4.4115    4.939     4.695     9.553
   19.1385   14.34775   4.807     4.6245    4.7535 ]
 [ 84.833    93.3575   89.09125  10.368    11.3655   10.909    17.0655
   31.0465   24.0525    7.2155    8.512     7.903  ]
 [ 84.8355   93.382    89.10825  10.351    11.3565   10.897    17.067
   31.0465   24.05325   7.2145    8.5125    7.904  ]
 [ 84.9      93.8225   89.35975  11.054    12.114    11.6125   17.1495
   31.0105   24.082     7.8245    9.251     8.599  ]
 [ 84.9      93.8225   89.35975  11.054    12.114    11.6125   17.1495
   31.0105   24.082     7.8245    9.251     8.599  ]
 [ 97.3475   93.461    95.40225   7.594     7.6565    7.6465   17.6735
   16.003    16.84025   4.524     6.329     5.6135 ]
 [ 84.8355   93.382    89.10825  10.351    11.3565   10.897    17.067
   31.0465   24.05325   7.2145    8.5125    7.904  ]]

In [15]:
# бЛОК вычисления сил для каждого элемента плана с полным учетом поездопотока на линии
force_poezd = np.zeros((len(line.index),12))
for index_line in range(len(line.index)):
    force_t = np.array([0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0])
    
    for index_poezd in range(len(trains.index)):
        gamma_poezd = trains['poezd_gamma'].loc[trains['poezd_gamma'].index == index_poezd].values
        meankver_force = trains['meankver_force'].loc[trains['meankver_force'].index == index_poezd].values  
        meankgor_force = trains['meankgor_force'].loc[trains['meankgor_force'].index == index_poezd].values  
        meankprd_force = trains['meankprd_force'].loc[trains['meankprd_force'].index == index_poezd].values  
        meankram_force = trains['meankram_force'].loc[trains['meankram_force'].index == index_poezd].values  
        rmskver_force = trains['rmskver_force'].loc[trains['rmskver_force'].index == index_poezd].values  
        rmskgor_force = trains['rmskgor_force'].loc[trains['rmskgor_force'].index == index_poezd].values  
        rmskprd_force = trains['rmskprd_force'].loc[trains['rmskprd_force'].index == index_poezd].values  
        rmskram_force = trains['rmskram_force'].loc[trains['rmskram_force'].index == index_poezd].values
        for i in [0,1,2]:
            force[i] = force_line[index_line][i]*meankver_force*gamma_poezd
        for i in [3,4,5]:
            force[i] = force_line[index_line][i]*rmskver_force*gamma_poezd
        for i in [6,7,8]:
            force[i] = force_line[index_line][i]*meankgor_force*gamma_poezd
        for i in [9,10,11]:
            force[i] = force_line[index_line][i]*rmskgor_force*gamma_poezd 
        #print(force)
        force_t = force_t + force 
    #print (force_t)
    for i in range(0,12):
        force_poezd[index_line, i] = force_t[i]
print (force_poezd)

[[169.671  186.764  178.2165  20.702   22.713   21.794   34.134   62.093
   48.1065  14.429   17.025   15.808 ]
 [169.661  186.725  178.188   20.676   22.725   21.78    34.131   62.093
   48.105   14.429   17.024   15.808 ]
 [178.649  187.454  183.0555   8.823    9.878    9.39    19.106   38.277
   28.6955   9.614    9.249    9.507 ]
 [169.666  186.715  178.1825  20.736   22.731   21.818   34.131   62.093
   48.105   14.431   17.024   15.806 ]
 [169.671  186.764  178.2165  20.702   22.713   21.794   34.134   62.093
   48.1065  14.429   17.025   15.808 ]
 [225.585  170.774  198.1685   4.36     4.692    4.579   13.02    23.523
   18.2745  10.613   12.634   11.745 ]
 [169.8    187.645  178.7195  22.108   24.228   23.225   34.299   62.021
   48.164   15.649   18.502   17.198 ]
 [169.8    187.645  178.7195  22.108   24.228   23.225   34.299   62.021
   48.164   15.649   18.502   17.198 ]
 [194.695  186.922  190.8045  15.188   15.313   15.293   35.347   32.006
   33.6805   9.048   12.658   11.227 ]
 [169.671  186.764  178.2165  20.702   22.713   21.794   34.134   62.093
   48.1065  14.429   17.025   15.808 ]
 [169.675  186.673  178.166   20.767   22.803   21.84    34.159   62.115
   48.126   14.426   16.999   15.785 ]
 [226.561  167.947  197.252    6.451    6.579    6.577   19.897   21.037
   20.463    7.019   10.794    9.193 ]
 [169.671  186.764  178.2165  20.702   22.713   21.794   34.134   62.093
   48.1065  14.429   17.025   15.808 ]
 [178.649  187.454  183.0555   8.823    9.878    9.39    19.106   38.277
   28.6955   9.614    9.249    9.507 ]
 [169.666  186.715  178.1825  20.736   22.731   21.818   34.131   62.093
   48.105   14.431   17.024   15.806 ]
 [169.671  186.764  178.2165  20.702   22.713   21.794   34.134   62.093
   48.1065  14.429   17.025   15.808 ]
 [169.8    187.645  178.7195  22.108   24.228   23.225   34.299   62.021
   48.164   15.649   18.502   17.198 ]
 [169.8    187.645  178.7195  22.108   24.228   23.225   34.299   62.021
   48.164   15.649   18.502   17.198 ]
 [194.695  186.922  190.8045  15.188   15.313   15.293   35.347   32.006
   33.6805   9.048   12.658   11.227 ]
 [169.671  186.764  178.2165  20.702   22.713   21.794   34.134   62.093
   48.1065  14.429   17.025   15.808 ]]

In [16]:
forces_itogo = pd.DataFrame(force_poezd)
forces_itogo.columns = ['Mean_F_vertR', 'Mean_F_vertL', 'Mean_F_vert', 'sigma_F_vertR', 'sigma_F_vertL',' sigma_F_vert',\
                        'Mean_F_sideR', 'Mean_F_sideL', 'Mean_F_side', 'sigma_F_sideR', 'sigma_F_sideL', 'sigma_F_side']
forces_itogo

,Mean_F_vertR,Mean_F_vertL,Mean_F_vert,sigma_F_vertR,sigma_F_vertL,sigma_F_vert,Mean_F_sideR,Mean_F_sideL,Mean_F_side,sigma_F_sideR,sigma_F_sideL,sigma_F_side
0,169.671,186.764,178.2165,20.702,22.713,21.794,34.134,62.093,48.1065,14.429,17.025,15.808
1,169.661,186.725,178.1880,20.676,22.725,21.780,34.131,62.093,48.1050,14.429,17.024,15.808
2,178.649,187.454,183.0555,8.823,9.878,9.390,19.106,38.277,28.6955,9.614,9.249,9.507
3,169.666,186.715,178.1825,20.736,22.731,21.818,34.131,62.093,48.1050,14.431,17.024,15.806
4,169.671,186.764,178.2165,20.702,22.713,21.794,34.134,62.093,48.1065,14.429,17.025,15.808
5,225.585,170.774,198.1685,4.360,4.692,4.579,13.020,23.523,18.2745,10.613,12.634,11.745
6,169.800,187.645,178.7195,22.108,24.228,23.225,34.299,62.021,48.1640,15.649,18.502,17.198
7,169.800,187.645,178.7195,22.108,24.228,23.225,34.299,62.021,48.1640,15.649,18.502,17.198
8,194.695,186.922,190.8045,15.188,15.313,15.293,35.347,32.006,33.6805,9.048,12.658,11.227
9,169.671,186.764,178.2165,20.702,22.713,21.794,34.134,62.093,48.1065,14.429,17.025,15.808
10,169.675,186.673,178.1660,20.767,22.803,21.840,34.159,62.115,48.1260,14.426,16.999,15.785
11,226.561,167.947,197.2520,6.451,6.579,6.577,19.897,21.037,20.4630,7.019,10.794,9.193
12,169.671,186.764,178.2165,20.702,22.713,21.794,34.134,62.093,48.1065,14.429,17.025,15.808
13,178.649,187.454,183.0555,8.823,9.878,9.390,19.106,38.277,28.6955,9.614,9.249,9.507
14,169.666,186.715,178.1825,20.736,22.731,21.818,34.131,62.093,48.1050,14.431,17.024,15.806
15,169.671,186.764,178.2165,20.702,22.713,21.794,34.134,62.093,48.1065,14.429,17.025,15.808
16,169.800,187.645,178.7195,22.108,24.228,23.225,34.299,62.021,48.1640,15.649,18.502,17.198
17,169.800,187.645,178.7195,22.108,24.228,23.225,34.299,62.021,48.1640,15.649,18.502,17.198
18,194.695,186.922,190.8045,15.188,15.313,15.293,35.347,32.006,33.6805,9.048,12.658,11.227
19,169.671,186.764,178.2165,20.702,22.713,21.794,34.134,62.093,48.1065,14.429,17.025,15.808

In [17]:
force_line = line.join(forces_itogo)
force_line

,km,pk,way,vsp_type,vsp_cnd,rail,tie,fasten,hball_sm,rad_m,...,Mean_F_vert,sigma_F_vertR,sigma_F_vertL,sigma_F_vert,Mean_F_sideR,Mean_F_sideL,Mean_F_side,sigma_F_sideR,sigma_F_sideL,sigma_F_side
0,1,1,1,1,1,P65,beton,kb,20,10000,...,178.2165,20.702,22.713,21.794,34.134,62.093,48.1065,14.429,17.025,15.808
1,1,1,1,1,1,P65,beton,gbr_bp,30,10000,...,178.1880,20.676,22.725,21.780,34.131,62.093,48.1050,14.429,17.024,15.808
2,1,2,1,1,1,P75,beton,gbr_pod,40,5000,...,183.0555,8.823,9.878,9.390,19.106,38.277,28.6955,9.614,9.249,9.507
3,1,2,1,1,1,P65,beton,ars,25,10000,...,178.1825,20.736,22.731,21.818,34.131,62.093,48.1050,14.431,17.024,15.806
4,1,3,1,1,1,P65,beton,pandr,45,10000,...,178.2165,20.702,22.713,21.794,34.134,62.093,48.1065,14.429,17.025,15.808
5,1,3,1,1,1,P65,beton,whslo,20,2500,...,198.1685,4.360,4.692,4.579,13.020,23.523,18.2745,10.613,12.634,11.745
6,1,4,1,2,2,P65,der,do,30,10000,...,178.7195,22.108,24.228,23.225,34.299,62.021,48.1640,15.649,18.502,17.198
7,1,4,1,2,2,P75,der,kd,40,10000,...,178.7195,22.108,24.228,23.225,34.299,62.021,48.1640,15.649,18.502,17.198
8,1,5,1,2,2,P65,beton,kb,25,350,...,190.8045,15.188,15.313,15.293,35.347,32.006,33.6805,9.048,12.658,11.227
9,1,5,1,1,1,P65,beton,gbr_bp,45,10000,...,178.2165,20.702,22.713,21.794,34.134,62.093,48.1065,14.429,17.025,15.808
10,1,6,1,1,1,P65,beton,gbr_pod,40,10000,...,178.1660,20.767,22.803,21.840,34.159,62.115,48.1260,14.426,16.999,15.785
11,1,6,1,1,1,P65,beton,ars,25,1500,...,197.2520,6.451,6.579,6.577,19.897,21.037,20.4630,7.019,10.794,9.193
12,1,7,1,1,1,P75,beton,pandr,45,10000,...,178.2165,20.702,22.713,21.794,34.134,62.093,48.1065,14.429,17.025,15.808
13,1,7,1,1,1,P75,beton,gbr_pod,40,5000,...,183.0555,8.823,9.878,9.390,19.106,38.277,28.6955,9.614,9.249,9.507
14,1,8,1,1,1,P65,beton,ars,25,10000,...,178.1825,20.736,22.731,21.818,34.131,62.093,48.1050,14.431,17.024,15.806
15,1,8,1,1,1,P65,beton,pandr,45,10000,...,178.2165,20.702,22.713,21.794,34.134,62.093,48.1065,14.429,17.025,15.808
16,1,9,1,2,2,P65,der,do,30,10000,...,178.7195,22.108,24.228,23.225,34.299,62.021,48.1640,15.649,18.502,17.198
17,1,9,1,2,2,P75,der,kd,40,10000,...,178.7195,22.108,24.228,23.225,34.299,62.021,48.1640,15.649,18.502,17.198
18,1,10,1,2,2,P65,beton,kb,25,350,...,190.8045,15.188,15.313,15.293,35.347,32.006,33.6805,9.048,12.658,11.227
19,1,10,1,1,1,P65,beton,pandr,45,10000,...,178.2165,20.702,22.713,21.794,34.134,62.093,48.1065,14.429,17.025,15.808

In [82]:
In [5]: df1.merge(df2) # by default, it does an inner join on the common column(s)
Out[5]: 
   x  y  z
0  2  b  4
1  3  c  5

df2 = df1.copy()
with pd.ExcelWriter('output.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='Sheet_name_1')
    df2.to_excel(writer, sheet_name='Sheet_name_2')
    
#ExcelWriter также можно использовать для добавления в существующий файл Excel:

with pd.ExcelWriter('output.xlsx',
                    mode='a') as writer:  
    df.to_excel(writer, sheet_name='Sheet_name_3')
    
b[:2]  # Первые две строки
array([[ 0,  1,  2,  3],
       [10, 11, 12, 13]])
>>> b[1:3, : : ]  # Вторая и третья строки
array([[10, 11, 12, 13],
       [20, 21, 22, 23]])

SyntaxError: invalid syntax (<ipython-input-82-be34fe8908d3>, line 2)